* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.App{
  height: 300vh;
  background: #dadfed;
}

.toolBar{
  background-color: #6A81C1FF;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.inputWrapper{
  margin-left: 28px;
}

@media screen and (max-width: 475px){
  .toolBar{
    flex-direction: column;
    padding: 15px 0;
    align-items: flex-start;
  }
  .toolBar h6{
    margin-bottom: 15px;
  }

  .inputWrapper{
    margin-left: 0;
  }
}

@media screen and (max-width: 375px){

}

